/* eocjsNewsticker */

.sliderbox {
  background-color: black;
  width: 400px;
  height: 120px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
}

.sliderbox h2 {
  color: #f9d849;
  font-size: 24px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-left: 30px;
  margin-bottom: 0px;
}

.eocjs-newsticker {
  padding: 10px 0;
  color: white;
  background-color: black;
}

.eocjs-newsticker .eocjs-newsticker-container {
  position: relative;
  height: 24px;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 10px;
}

.eocjs-newsticker .eocjs-newsticker-one,
.eocjs-newsticker .eocjs-newsticker-two {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.eocjs-newsticker-loader {
  position: absolute;
  left: calc(50% - 10px);
  top: 2px;
  width: 20px;
  height: 20px;
  display: block;
  border: 3px solid #555555;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: eocjs-newsticker-spin 0.75s linear infinite;
}

@keyframes eocjs-newsticker-spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1230px) {
  .sliderbox {
    position: fixed;
    bottom: 130px;
    right: 0;
  }
}

/* END eocjsNewsticker */
